<%= form_with(model: post) do |form| %>
  <div class="col-auto">
    <%= form.label :title, class: "form-label" %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="col-auto">
    <%= form.label :author, class: "form-label" %>
    <%= form.text_field :author, class: "form-control" %>
  </div>

  <div class="col-auto">
    <%= form.label :body, class: "form-label" %>
    <%= form.text_area :body, rows: 6, class: "form-control" %>
  </div>

  <%= form.submit class: "btn btn-primary mt-2", data: { disable_with: "Criando..." } %>
<% end %>
