<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
      <div class="container-fluid mx-4">
        <%= link_to root_path, class: 'text-white  navbar-brand' do %>
          <h1 class="h5">HOME</h1>
        <% end %>
      </div>
      <%= form_with url: search_posts_path, method: :get, local: true, class: "d-flex mx-4 w-50", role: "search" do |form| %>
        <%= form.search_field :q, class: "form-control me-2", required: true, placeholder: "Buscar", value: params[:q] %>
        <%= form.submit "Buscar", class: "btn btn-outline-success", data: { desable_with: "Buscando..." } %>
      <% end %>
    </nav>

    <div class='container' style="min-height: 100vh">
      <% flash.each do |type, message| %>
        <div
          class="alert alert-<%= type== 'alert' ? 'danger' : 'success'  %> alert-dismissible fade show"
          role="alert"
        >
          <stronge><%= message %></stronge>
        </div>
      <% end %>

      <%= yield %>
    </div>

    <footer class='bg-dark text-white text-center mt-5 p-4'>
      Copyright &#169 <%= Date.current.year %>
    </footer>
  </body>
</html>
